/* Start Global */
.main-container {
    min-height: calc(100vh - 121px);
    background-color: var(--nat-100);
    padding: 2rem;
}

.main-container .categorize-heading {
    margin-bottom: 3rem;
    padding-left: .25rem;
    border-left: 2px solid var(--nat-600);
    text-transform: capitalize;
    color: var(--nat-600);
    font-weight: 400;
    font-size: 1.5rem;
}

.main-container .categorize-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* End Global */

/* Start Form */

.main-container .categorize-container form {
    padding: 1rem;
    border: 1px solid var(--nat-200);
    border-radius: var(--base-radius);
    flex-basis: 30%;
}

.main-container .categorize-container form .form-title {
    margin-bottom: 1rem;
    text-transform: capitalize;
    color: var(--nat-600);
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 1px solid var(--nat-600);
    padding-bottom: 0.25rem;
}

.main-container .categorize-container form .field-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1rem;
}

.main-container .categorize-container form .field-group label {
    text-transform: capitalize;
    color: var(--nat-500);
    font-size: 1rem;
}

.main-container .categorize-container form .field-group input {
    margin: .5rem 0;
    padding: .5rem;
    width: 100%;
    border: 1px solid var(--nat-500);
    border-radius: var(--base-radius);
    background-color: var(--nat-100);
    color: var(--black);
}

.main-container .categorize-container form .field-group input:focus {
    outline: 1px solid var(--brand-200);
}

.main-container .categorize-container form .field-group select {
    margin: .5rem 0;
    padding: .5rem;
    width: 100%;
    border: 1px solid var(--nat-500);
    border-radius: var(--base-radius);
    background-color: var(--nat-100);
    color: var(--black);
    cursor: pointer;
}

.main-container .categorize-container form .field-group span {
    color: var(--nat-400);
    font-size: .8rem;
}

.main-container .categorize-container form input[type="submit"] {
    padding: .5rem;
    margin-top: 1rem;
    width: 100%;
    border: 1px solid var(--brand-300);
    border-radius: var(--base-radius);
    background-color: transparent;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--black);
    cursor: pointer;
    transition: background var(--trans-dur), color var(--trans-dur);
}

.main-container .categorize-container form input[type="submit"]:hover {
    background-color: var(--brand-200);
    color: var(--white-fx)
}
/* End Form */

/* Start Aside */
section {
    min-height: 100%;
    flex-basis: 60%;
}

section .categorize-tools {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

section .categorize-tools .table-tools {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section .categorize-tools .table-tools .table-options {
    margin: .5rem 0;
    padding: .5rem;
    border: 1px solid var(--nat-500);
    border-radius: var(--base-radius);
    background-color: var(--nat-100);
    color: var(--black);
    cursor: pointer;
}

section .categorize-tools .table-tools .table-options {
    margin-right: .5rem;
    padding: .5rem;
    border: 1px solid var(--nat-500);
    border-radius: var(--base-radius);
    background-color: var(--nat-100);
    color: var(--black);
    text-transform: capitalize;
    font-weight: 600;
    font-size: .8rem;
    cursor: pointer;
}

section .categorize-tools .table-tools .table-button {
    padding: .5rem;
    border: 1px solid var(--brand-300);
    border-radius: var(--base-radius);
    background-color: transparent;
    font-weight: 600;
    font-size: .8rem;
    text-transform: capitalize;
    color: var(--black);
    cursor: pointer;
    transition: background var(--trans-dur), color var(--trans-dur);
}

section .categorize-tools .table-tools .table-button:hover {
    background-color: var(--brand-200);
    color: var(--white-fx)
}

section .categorize-tools .categorize-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section .categorize-tools .categorize-nav .nav-preview {
    color: var(--nat-600);
    text-transform: capitalize;
    transition: color var(--trans-dur) ease;
    cursor: pointer;
}

section .categorize-tools .categorize-nav .nav-preview:hover {
    color: var(--brand-200);
}

section .categorize-tools .categorize-nav .nav-preview:not(:last-of-type)::after {
    content: "/";
    color: var(--nat-600)
}

section table {
    margin: 1rem 0;
    border: 1px solid var(--nat-600);
    border-radius: var(--base-radius);
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
}

section table thead tr {
    border-bottom: 1px solid var(--nat-600);
}

section table tbody tr {
    cursor: pointer;
    transition: background var(--trans-dur);
}

section table tbody tr:nth-child(2n) {
    background-color: var(--nat-200);
}

section table tbody tr:hover,
section table tbody tr.active {
    background-color: var(--brand-300);
}

section table th,
section table td {
    max-width: 100px;
    padding: .5rem;
    color: var(--nat-600);
    font-weight: 400;
    font-size: .8rem;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

section table td.ceil-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-weight: 700;
}

section table td.ceil-container .tag-delete {
    visibility: hidden;
    margin-top: .5rem;
    color: var(--red)
}

section table tbody tr:hover .tag-delete,
section table tbody tr.active .tag-delete {
    visibility: visible;
}
/* End Aside */
